@use "util";

$name: "Roboto Slab";

$fontDir: "/node_modules/@fontsource/roboto-slab/files";

$weights: 100, 200, 300, 400, 500, 600, 700, 800, 900;

@each $weight in $weights {
    @each $variant, $range in util.$variants {
        @font-face {
            font-family: $name;
            font-style: normal;
            font-display: swap;
            font-weight: $weight;
            src: local($name),
            url("#{$fontDir}/roboto-slab-#{$variant}-#{$weight}-normal.woff2") format("woff2");
            //url("#{$fontDir}/roboto-slab-#{$variant}-#{$weight}-normal.woff2?as=woff") format("woff"),
            //url("#{$fontDir}/roboto-slab-#{$variant}-#{$weight}-normal.woff2?as=ttf") format("ttf");
            unicode-range: $range;
        }
    }
}

.font-roboto-slab {
    font-family: $name, "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
}
