@use "./node_modules/copperflame/css/config" with (
  $professional: true,
  $darkmode: false,
  //$debug: true,

  $image-format: "avif",

  $font-ranges: (latin),
  $font-weights: (400, 600, 700),
  $font-ttf-fallback: false,
);
@use "./node_modules/copperflame/css/revealjs" as *;

@use "./node_modules/copperflame/css/elements";

iframe[title="YouTube video player"] {
    @include elements.floating-box($padding: 0px, $border-radius: $sw);
}

iframe.shadertoy {
    @include elements.floating-box($padding: 0px, $border-radius: $sw);

    width: 100%;
    height: calc($sh * 25);
}

pre.nfo {
    width: min-content;
    box-shadow: unset;
}
